<div class="contenedor-principal">
  <div class="row">
    <div class="col text-center">

      <div class="card cartas" style="width: 18rem;">
        <img src="./../../../assets/img/05 trebol splash.jpg" class="card-img-top" alt="Sunrise">
        <div class="card-body">
          <p class="card-text"><b>Sunrise</b></p>
          <p>{{ sunrise }}</p>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card cartas" style="width: 18rem;">
        <img src="./../../../assets/img/05 trebol splash.jpg" class="card-img-top" alt="Sunset">
        <div class="card-body">
          <p class="card-text"><b>Sunset</b></p>
          <p>{{ sunset }}</p>
        </div>
      </div>


    </div>

  </div>
</div>
